body {
    text-align      : center;
    background-color: #181818;
    color           : white;
    font-size       : large;
}

li {
    list-style-position: inside;
}

button {
    font-size       : large;
    background-color: green;
}

img {
    width : 500px;
    border: 5px dotted pink;
}

.yellow {
    color: yellow;
}